

<ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sizes">Sizes</a></td>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Wish List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Reminders</a>
        </li>
      </ul>