

<section id="leftMenu">
  <div class="content"></div>
    <ul id="leftMenu" class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/users/show">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sizes">Sizes</a></td>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/wishLists">Wish List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Allow to Access</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/reminders">Reminders</a>
        </li>
        <li class="nav-item">
          <div><img class="menuIcon" src="/images/left-menu-icon.png" alt="left menu image"></div>
      </li>
    </ul>

    </section>