

<section id="leftMenuSection">
    <ul id="leftMenuUl" class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/users/show">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sizes">Sizes</a></td>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/wishLists">Wish List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/allowAccess">Allow to Access</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/reminders">Reminders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/wishLists">Check friends info</a>
          </li>
        <li class="nav-icon">
          <div><img class="menuIcon" src="/images/left-menu-icon.png" alt="left menu image"></div>
      </li>
    </ul>

    </section>