<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- boostrapt -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <!-- Tab Icon -->
    <link rel="icon" href="/../images/tab-logo.png">
     <!-- css  -->
     <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- title font -->
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">

    <script defer src="/javascripts/main.js"></script>
    <title>Git It Right</title>

</head>
<body>

  <section id="topPage"></section>
  
  <div class="flex-grid">
      <div class="col"></div>

      <div class="col"> 
        <h1>Git it Right</h1> 
      </div>
      <div class="col">
          <ul>
              <li>
              <img id="googleLogo" width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
              <% if (user) { %>
                <a href="/logout">Log Out</a>
              <% } else { %>
                <a href="/auth/google">Login with Google</a>
              <% } %>
              </li>
            </ul>
      </div>
   
  </div>

  </section>
    
