* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/box\ \(2\).png);
  background-size: cover; 
 
}

/* img img:not(#googleLogo) {
  width: 50%;
  height: 50%;
} */

a {
  color: #00B7FF;
  text-decoration: none;

}

h1{
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;

}

nav{
  text-align: right;
}
