* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/box\ \(2\).png);
  background-size: cover; 
 
}

/* img img:not(#googleLogo) {
  width: 50%;
  height: 50%;
} */

a {
  color: #00B7FF;
}

h1{
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;

}

nav{
  text-align: right;
}

#itemsContainer{
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
/* HAVE TO USE DISPLAY:FLEX TO USE JUSTIFY OR ALIGN */
/* try justify-content/justify-items, align-items/align-content, space-evenly, space-between, if none work, use flex grid */

#leftMenu{
  display: flex;
  justify-content: left;
  width: 20%;
  height: 100%;
  background-color: red;
}
#content{
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: left;
  width: 80%;
  height: 100%;
  background-color: blue;
}
ul{
  list-style-type: none
}