<%- include('../partials/top') %>
<%- include('../partials/left') %>


<h1>sizes </h1>
  
    <div id='itemsContainer' class='sizeContainer'>
            <form class="newSize" id="add-size-form" method="POST" action="/users/<%= user._id %>/sizes">
            <div class="form-group">
                <label for="formGroupExampleInput">Article</label>
                <input type="text" name="name" class="form-control" id="formGroupExampleInput" placeholder="Jeans">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Size</label>
                <input type="text" name="size" class="form-control" id="formGroupExampleInput" placeholder="L">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Brands</label>
                <input type="text" name="brands" class="form-control" id="formGroupExampleInput" placeholder="Lee">
                </div>
            <div class="form-group">
                <label for="formGroupExampleInput" >Description</label>
                <input type="text" name="description" class="form-control" id="formGroupExampleInput" placeholder="I like black jeans....">
                </div>
           
            <button type="submit" class="btn btn-primary">Add Article</button>
        </form> 
    </div>
    
  </body>
</html>