<%- include('../partials/top') %>
  
  <!-- <body> -->

    <div class="container">
        <div id="search-row" class="row">
          <!-- <h2 class="col s4 blue-grey-text text-darken-2">Users</h2> -->
          <!-- <form action="/users" method="GET"> -->
            <!-- <div class="col s3 offset-s3"> -->
              <!-- search -->
              <!-- <div class="input-field">
                <input id="search" type="search" name="name" placeholder="search name" value="<%= name %>" autocomplete="off">
                <i class="material-icons">close</i>
              </div> -->
            <!-- </div> -->
       
          <!-- </form> -->


        </div>
      </div>
    
  </body>
</html>