<%- include('../partials/top') %>
  
  <!-- <body> -->

    <div class="container">
        <div id="search-row" class="row">
          
          <img id="home-logo" src="/images/box (2).png" alt="">
        </div>
      </div>
    
  </body>
</html>